@{
    ViewData["Title"] = "Home Page";
}

<div class="b-example-divider"></div>
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Twitter API Channels</h1>

        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">A quick and simple Web App utilizing Twitters API to show recent tweets of assigned channels/programs.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" onclick="window.open('@Url.Action("TwitterHome", "Home")')" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Show Tweets</button>
                <button type="button" class="btn btn-outline-light btn-lg px-4">Add Tweets</button>
            </div>
        </div>

    </div>
</div>


