@{
    ViewData["Title"] = "More on this Twitter";
}

<div class="b-example-divider"></div>
<div class="container py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">More on this Twitter</h2>
    <div class="row g-5 py-5">
        <div class="col-md-4 d-flex align-items-start">
            <svg class="bi" width="4em" height="2em" fill="currentColor">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16" id="info-square-fill">
                    <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2v12a2 2 0 01-2 2H2a2 2 0 01-2-2V2zm8.93 4.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 100-2 1 1 0 000 2z"></path>
                </svg>
            </svg>

            <div>
                <h2>Featured title</h2>
                <p>The purpose of this project is to showcase the utilization of the Twitter Developer Platform using their API to get the latest tweets of a Twitter account specified.</p>
            </div>
        </div>

        <div class="col-md-4 d-flex align-items-start">
            <svg class="bi" width="100px" height="2em" fill="currentColor">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16" id="tools">
                    <path d="M1 0L0 1l2.2 3.081a1 1 0 00.815.419h.07a1 1 0 01.708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 000 13a3 3 0 105.878-.851l2.654-2.617.968.968-.305.914a1 1 0 00.242 1.023l3.356 3.356a1 1 0 001.414 0l1.586-1.586a1 1 0 000-1.414l-3.356-3.356a1 1 0 00-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0016 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 00-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 01-.293-.707v-.071a1 1 0 00-.419-.814L1 0zm9.646 10.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"></path>
                </svg>
            </svg>

            <div>
                <h2>Tools used</h2>
                <p>This Twitter API was created using C#, Jquery/Javascript, HTML/CSS/Bootstrap 4.3 with the MVC .Net Core as the Framework which enables you to access individual twitter accounts and display relevant content within.</p>
            </div>
        </div>

        <div class="col-md-4 d-flex align-items-start">
            <svg class="bi" width="100px" height="2em" fill="currentColor">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16" id="twitter">
                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0016 3.542a6.658 6.658 0 01-1.889.518 3.301 3.301 0 001.447-1.817 6.533 6.533 0 01-2.087.793A3.286 3.286 0 007.875 6.03a9.325 9.325 0 01-6.767-3.429 3.289 3.289 0 001.018 4.382A3.323 3.323 0 01.64 6.575v.045a3.288 3.288 0 002.632 3.218 3.203 3.203 0 01-.865.115 3.23 3.23 0 01-.614-.057 3.283 3.283 0 003.067 2.277A6.588 6.588 0 01.78 13.58a6.32 6.32 0 01-.78-.045A9.344 9.344 0 005.026 15z"></path>
                </svg>
            </svg>

            <div>
                <h2>Tweet Features</h2>
                <p>The API endpoint in used is the Get Tweet Timelines. It returns a collection of the most recent Tweets posted by the indicated screen_name (username). Currently displaying the text content, media attached, date posted, screen name and more.</p>
            </div>
        </div>
    </div>
</div>
